main section {
height: 400px;
background-color: blueviolet;
}

/* adjudico al id */
#principal {
    height: fit-content;
    bottom: auto;
}

/* adjudico a la class */
.bordesnegros {
    border: 10px black;
}

